[Unit]
Description=Linux Voice Assistant
#After=example_2a.container
#Wants=mqtt.container zwave-js-ui.container
#Requires=example_2a.container

[Container]
ContainerName=linux-voice-assistant
Image=ghcr.io/ohf-voice/linux-voice-assistant:latest

#Needs port 6053 for ESPHOME protocol
PublishPort=6053:6053

Environment=XDG_RUNTIME_DIR="/run/user/1000"
Environment=CLIENT_NAME="lva_test"

AddCapability=SYS_NICE
GroupAdd=audio

Volume=linux-voice-assistant-wakeword_data:/app/local
Volume=linux-voice-assistant-wakeword_custom:/app/wakewords/custom
Volume=linux-voice-assistant-configuration:/app/configuration
Volume=linux-voice-assistant-sounds_custom:/app/sounds/custom

Volume=/run/user/1000:/run/user/1000

[Service]
Restart=always

#Default for systemd is 90 seconds. This allows the container more time to start.
TimeoutStartSec=180
#Wait 10 seconds before attempting a restart
RestartSec=10

[Install]
# Start by default on boot
WantedBy=default.target