[Unit]
Description=Moonshine
#After=example_2a.container
#Wants=mqtt.container zwave-js-ui.container
#Requires=example_2a.container

[Container]
ContainerName=moonshine
Image=trm_moonshine.image

#PublishPort=6053:6053

#Environment=CLIENT_NAME="lva_test"

#AddCapability=SYS_NICE
#GroupAdd=audio

#Volume=linux-voice-assistant-wakeword_data:/app/local

[Service]
Restart=always

#Default for systemd is 90 seconds. This allows the container more time to start.
TimeoutStartSec=180
#Wait 10 seconds before attempting a restart
RestartSec=10

[Install]
# Start by default on boot
WantedBy=default.target